@page "/contactusnologin"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using OzoneFitness.Domain
@using OzoneFitness.Data
@inject IDbContextFactory<OzoneFitness.Data.OzoneFitnessContext> DbFactory

<PageTitle>Index</PageTitle>

<div class="top-bar">
    <h1 class="logo">Ozone Gym</h1>
    <nav class="nav-links">
        <a href="/promo">Promotion</a>
        <a href="/aboutusnologin">About Us</a>
        <a href="/contactusnologin">Contact Us</a>
        <a href="/">Back to Main Menu</a>

    </nav>
</div>

<h1>Ozone Gym</h1>

<p class="tagline">No Pain, No Gain! Start your journeys today!</p>
<div class="gallery-container">
    <div class="image-gallery">
        <img src="images/gym3.jpg" alt="Gym Image" class="gallery-image" />
    </div>
    <p>
        Manager: Shamsul Ammry, 21<br />
        Manager Number: +65 1234 5678<br />
        Trainer Information: Shamsul Ammry, also known as 'The hunter', has been a gym enthusiast at a young age. His dream is to open a gym with personal gym trainers.
    </p>
    <div class="image-gallery">
        <img src="images/gym4.jpg" alt="Gym Image" class="gallery-image" />
    </div>
    <p>
        Assistant Manager: Gordon Sim, 21<br />
        Assistant Manager Number: +65 8765 4321<br />
        Trainer Information: Gordon is the assistant manager. He came up with the name 'Ozone Fitness'. He met Shamsul at a young age and shared the same interest.
    </p>
    <div class="image-gallery">
        <img src="images/gym5.jpg" alt="Gym Image" class="gallery-image" />
    </div>
    <p>
        Trainer A: Jonas Tang, 19<br />
        Trainer ID: 1 <br />
        Trainer Number: +65 1212 3434<br />
        Trainer Information: Jonas has been wanting to be a personal trainer since he was 6 years old. Since then, he is been voted the top trainer in the 2020 personal trainer competition.
    </p>
    <div class="image-gallery">
        <img src="images/gym6.jpg" alt="Gym Image" class="gallery-image" />
    </div>
    <p>
        Trainer B: Sherman Goh, 21<br />
        Trainer ID: 2 <br />
        Trainer Number: +65 5656 7878<br />
        Trainer Information: Sherman has set his interest in being a gym instructor. He studied in the international study of school gym and placed first in the whole cohort.
    </p>
    <div class="image-gallery">
        <img src="images/gym7.jpg" alt="Gym Image" class="gallery-image" />
    </div>
    <p>
        Trainer C: Famous Fong, 20<br />
        Trainer ID: 3 <br />
        Trainer Number: +65 8787 6565<br />
        Trainer Information: Famous was a private gym instructor for the national singapore basketball and soccer team. He is currently promoting youths to being a gym instructor.
    </p>
    <div class="image-gallery">
        <img src="images/gym8.jpg" alt="Gym Image" class="gallery-image" />
    </div>
    <p>
        Trainer D: Ruben Jau, 19<br />
        Trainer ID: 4 <br />
        Trainer Number: +65 4343 2121<br />
        Trainer Information: Ruben has been a physical education teacher for 15 years. Due to his consistant high review, he has been recognised by the Gym Scouting Agency.
    </p>
</div>
    
<body>
</body>
<link rel="stylesheet" href="css/Index.Razor.css">
@code {

}

<footer class="footer">
    <p>© 2025 Ozone Gym. All rights reserved.</p>
</footer>