@page "/AccessDeniedTrainer"

<PageTitle>Access Denied</PageTitle>

<body>

</body>

<link rel="stylesheet" href="css/AccessDenied.Razor.css" />
<header>
    <h1 class="text-danger">Access denied</h1>
    <p class="text-danger">Sorry, You do not have access rights to this page.</p>
</header>

<div class="image-container">
    <img src="~/testgif2.gif" alt="Gym Image" class="animated-image" />
</div>


