@page "/trainers"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using OzoneFitness.Domain
@using OzoneFitness.Data
@implements IAsyncDisposable
@inject IDbContextFactory<OzoneFitness.Data.OzoneFitnessContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="trainers/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Trainer">
    <PropertyColumn Property="trainer => trainer.TrainerId" />
    <PropertyColumn Property="trainer => trainer.Name" />
    <PropertyColumn Property="trainer => trainer.ContactInfo" />
    <PropertyColumn Property="trainer => trainer.YearsOfExperience" />
    <PropertyColumn Property="trainer => trainer.GymId" />
    <PropertyColumn Property="trainer => trainer.DateCreated" />
    <PropertyColumn Property="trainer => trainer.DateUpdated" />
    <PropertyColumn Property="trainer => trainer.CreatedBy" />
    <PropertyColumn Property="trainer => trainer.UpdatedBy" />

    <TemplateColumn Context="trainer">
        <a href="@($"trainers/edit?id={trainer.Id}")">Edit</a> |
        <a href="@($"trainers/details?id={trainer.Id}")">Details</a> |
        <a href="@($"trainers/delete?id={trainer.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private OzoneFitnessContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
