@page "/feedbacks/create"
@using Microsoft.EntityFrameworkCore
@using OzoneFitness.Domain
@inject IDbContextFactory<OzoneFitness.Data.OzoneFitnessContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Feedback</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Feedback" OnValidSubmit="AddFeedback" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="feedbackid" class="form-label">FeedbackID:</label> 
                <InputNumber id="feedbackid" @bind-Value="Feedback.FeedbackID" class="form-control" /> 
                <ValidationMessage For="() => Feedback.FeedbackID" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="rating" class="form-label">Rating:</label> 
                <InputNumber id="rating" @bind-Value="Feedback.Rating" class="form-control" /> 
                <ValidationMessage For="() => Feedback.Rating" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="comments" class="form-label">Comments:</label> 
                <InputText id="comments" @bind-Value="Feedback.Comments" class="form-control" /> 
                <ValidationMessage For="() => Feedback.Comments" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateofsubmission" class="form-label">DateOfSubmission:</label> 
                <InputDate id="dateofsubmission" @bind-Value="Feedback.DateOfSubmission" class="form-control" /> 
                <ValidationMessage For="() => Feedback.DateOfSubmission" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="trainerid" class="form-label">TrainerID:</label> 
                <InputNumber id="trainerid" @bind-Value="Feedback.TrainerID" class="form-control" /> 
                <ValidationMessage For="() => Feedback.TrainerID" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="customerid" class="form-label">CustomerID:</label> 
                <InputNumber id="customerid" @bind-Value="Feedback.CustomerID" class="form-control" /> 
                <ValidationMessage For="() => Feedback.CustomerID" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datecreated" class="form-label">DateCreated:</label> 
                <InputDate id="datecreated" @bind-Value="Feedback.DateCreated" class="form-control" /> 
                <ValidationMessage For="() => Feedback.DateCreated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateupdated" class="form-label">DateUpdated:</label> 
                <InputDate id="dateupdated" @bind-Value="Feedback.DateUpdated" class="form-control" /> 
                <ValidationMessage For="() => Feedback.DateUpdated" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="Feedback.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => Feedback.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="updatedby" class="form-label">UpdatedBy:</label> 
                <InputText id="updatedby" @bind-Value="Feedback.UpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => Feedback.UpdatedBy" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/feedbacks">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Feedback Feedback { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddFeedback()
    {
        using var context = DbFactory.CreateDbContext();
        context.Feedback.Add(Feedback);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/feedbacks");
    }
}
