@page "/feedbacks/edit"
@using Microsoft.EntityFrameworkCore
@using OzoneFitness.Domain
@inject IDbContextFactory<OzoneFitness.Data.OzoneFitnessContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Feedback</h2>
<hr />
@if (Feedback is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Feedback" OnValidSubmit="UpdateFeedback" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Feedback.ID" value="@Feedback.Id" />
                <div class="mb-3">
                    <label for="feedbackid" class="form-label">FeedbackId:</label>
                    <InputNumber id="feedbackid" @bind-Value="Feedback.FeedbackId" class="form-control" />
                    <ValidationMessage For="() => Feedback.FeedbackId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="rating" class="form-label">Rating:</label>
                    <InputNumber id="rating" @bind-Value="Feedback.Rating" class="form-control" />
                    <ValidationMessage For="() => Feedback.Rating" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="comments" class="form-label">Comments:</label>
                    <InputText id="comments" @bind-Value="Feedback.Comments" class="form-control" />
                    <ValidationMessage For="() => Feedback.Comments" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateofsubmission" class="form-label">DateOfSubmission:</label>
                    <InputDate id="dateofsubmission" @bind-Value="Feedback.DateOfSubmission" class="form-control" />
                    <ValidationMessage For="() => Feedback.DateOfSubmission" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="trainerid" class="form-label">TrainerId:</label>
                    <InputNumber id="trainerid" @bind-Value="Feedback.TrainerId" class="form-control" />
                    <ValidationMessage For="() => Feedback.TrainerId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="customerid" class="form-label">CustomerId:</label>
                    <InputNumber id="customerid" @bind-Value="Feedback.CustomerId" class="form-control" />
                    <ValidationMessage For="() => Feedback.CustomerId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="datecreated" class="form-label">DateCreated:</label>
                    <InputDate id="datecreated" @bind-Value="Feedback.DateCreated" class="form-control" />
                    <ValidationMessage For="() => Feedback.DateCreated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateupdated" class="form-label">DateUpdated:</label>
                    <InputDate id="dateupdated" @bind-Value="Feedback.DateUpdated" class="form-control" />
                    <ValidationMessage For="() => Feedback.DateUpdated" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="Feedback.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => Feedback.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="updatedby" class="form-label">UpdatedBy:</label>
                    <InputText id="updatedby" @bind-Value="Feedback.UpdatedBy" class="form-control" />
                    <ValidationMessage For="() => Feedback.UpdatedBy" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/feedbacks">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int ID { get; set; }

    [SupplyParameterFromForm]
    private Feedback? Feedback { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Feedback ??= await context.Feedback.FirstOrDefaultAsync(m => m.Id == ID);

        if (Feedback is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateFeedback()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Feedback!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!FeedbackExists(Feedback!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/feedbacks");
    }

    private bool FeedbackExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Feedback.Any(e => e.Id == id);
    }
}
