@page "/gyms"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using OzoneFitness.Domain
@using OzoneFitness.Data
@implements IAsyncDisposable
@inject IDbContextFactory<OzoneFitness.Data.OzoneFitnessContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="gyms/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Gym">
    <PropertyColumn Property="gym => gym.GymId" />
    <PropertyColumn Property="gym => gym.Address" />
    <PropertyColumn Property="gym => gym.OperatingHours" />
    <PropertyColumn Property="gym => gym.Capacity" />
    <PropertyColumn Property="gym => gym.DateCreated" />
    <PropertyColumn Property="gym => gym.DateUpdated" />
    <PropertyColumn Property="gym => gym.CreatedBy" />
    <PropertyColumn Property="gym => gym.UpdatedBy" />

    <TemplateColumn Context="gym">
        <a href="@($"gyms/edit?id={gym.Id}")">Edit</a> |
        <a href="@($"gyms/details?id={gym.Id}")">Details</a> |
        <a href="@($"gyms/delete?id={gym.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private OzoneFitnessContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
