@page "/LoginHome"

<PageTitle>Home After Login</PageTitle>

<div class="top-bar">
    <h1 class="logo">Ozone Gym</h1>
    <nav class="nav-links">
        <a href="/aboutus">About</a>
        <a href="/contacts">Contact</a>
        <a href="/customers">Customer Page</a>
        <a href="/trainers">Trainers Page</a>
        <a href="/schedules">Schedule Page</a>
        <a href="/feedbacks">Feedback Page</a>
        <a href="/" class="button">Logout</a>
    </nav>
</div>

<body>
</body>
<link rel="stylesheet" href="css/LoginHome.Razor.css">

<h1>Welcome to Ozone Gym!</h1>

<p class="tagline">Your fitness journey starts today!</p>
